<?xml version="1.0"?>
<packages>
    <package id="google-chrome-x64" />
    <package id="7zip" /> 
    <package id="ccleaner" />
    <package id="cpu-z" />
    <package id="dropbox" />
    <package id="gimp" />
    <package id="googledrive" />
    <package id="iTunes" />
    <package id="notepad2-mod" />
    <package id="git" />
    <package id="Firefox" />
    <package id="nmap" />
    <package id="python2" />
    <package id="python3" />
    <package id="skype" />
    <package id="SublimeText3" />
    <package id="vagrant" />
    <package id="virtualbox" />
</packages>
